.navbar {
    background-color: white-gray;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
  }
  
  .navbar h2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
  }
  
  .nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
  }
  
  .cart-link {
    position: relative;
  }
  
  .cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
  }
  
  
  @media (max-width: 600px){
    .navbar {
      background-color: white-gray;
      color: black;
      display: flex;
      justify-content: space-between;
      padding: 2px 20px;
    }
  }
  
  .navbar h2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-size: medium;
  }

  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
  }