.navbar {
  background-color: white-gray;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}

.navbar h2{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.cart-link {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}


@media (max-width: 600px) {
  .navbar {
    background-color: white-gray;  /* Make sure this color exists or replace it with a valid color */
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;  /* Adjust the padding to suit your design */
  }

  .navbar h2 {
    font-size: 12px;  /* Adjust title font size for small screens */
  }

  .nav-links {
    display: flex;
    flex-direction: row;  /* Keep links in a row */
    gap: 5px;  /* Space between links */
    margin-left: auto;
    width: auto;  /* Adjust the width to ensure it fits smaller screens */
  }

  .nav-links li a {
    font-size: 12px;  /* Make the font size slightly bigger for readability */
    padding: 6px 8px;  /* Adjust padding to make the links closer */
  }
}
