.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    z-index: 1;
    background-color: gray;
  }
  
  /* .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  } */
  
  .home-page {
    text-align: center;
  }
  
  .home-image {
    width: 100%;  /* Make the image responsive */
    max-width: 600px;  /* Limit the maximum size */
    height: auto;  /* Maintain aspect ratio */
    margin-top: 20px;
  }
  
    .home h1 {
      font-size: 2rem;
      color: black;
      font-family: 'Courier New', Courier, monospace;
    }
    
    .home p {
      font-size: 1.1rem;      
      color: white;
      margin-top: 20px;
      font-family: 'Courier New', Courier, monospace;
    }
    